@use '../../utils/mixins';

.container{
    @include mixins.large {
        width : 30%;
        &:hover{
            box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
    width : 100%;
    min-height : 70px;
    padding: 0.8rem;
    display: flex;
    flex-flow: row;
    height: 30px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    
    &Active{
        @include mixins.large{
            display: flex;
            flex-flow: row nowrap;
            width: auto;
            &:hover{
                box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.2);
            }
        }
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        padding:1rem;
        border-radius: 5px;
        cursor :default;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        .buttons{
            @include mixins.large{
                justify-content: space-between;
                align-items: center;
                margin-top: 0;
            }
            display: flex;
            width: 100%;
            margin-top: 1rem;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
        input{
            width : 95%;
        }
        .createList{
            @include mixins.large{
                padding: 0.2rem 1.9rem;
                margin: 0 1rem;
                &:hover{
                    background-color:var(--main) ;
                    color: var(--font-light);
                }
            } 

        } 
    }  
    
}
