@use '../../utils/mixins';

.container{
  @include mixins.large{
    margin: 1rem;
    width : 290px;
    max-height: 300px;
    transition: all 0.2s;
    padding: 0.2rem;
    &:hover{
      transform: scale(1.05);
      transition: all 0.2s;
    }
  }
    width :100%;
    max-height: auto;
    padding: 1rem;
    background-color : var(--todolist);
    margin: 1rem 0;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .header{
        display: inline-flex;
        color: var(--primary);
        margin-bottom: 1rem;
        align-items: center;
        padding: 0.5rem;
        @include mixins.large{
          font-size: 1rem; 
          .title{
            margin-left: 1.5rem;
          } 
        }
        font-size: 1.2rem;
        font-weight: 600;
        justify-content: space-between;
        align-self: center;
        width: 100%;
        
        }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
      
    }
    .todoList{
      @include mixins.large{
        overflow-y: auto;
        scrollbar-color: var(--post-it-header) var(--third);
        scrollbar-width: thin;
      }
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      .addTask{
        @include mixins.large{
          width: 95%;
        }
        display: flex;
        width: 100%;
        align-items: center;
        margin: 1rem 0;
        flex-flow: column;
        .showAddtask{
          height: 4rem;
          width: 100%;
          background-color: var(--addTaskButton) ;
          @include mixins.large{
            cursor: pointer;
            height: auto;
            &:hover{
              background-color: var(--hoverAddTaskButton);
              
            }
          }
        }
        input{
          @include mixins.large{
            width:220px;
            height: 1.2rem;
          }
          width:100%;
          margin: 0.2rem;
          height: 2rem;
        }
        .buttons{
          @include mixins.large {
            justify-content: space-between;
          }
          margin-top: 0.8rem ;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width : 100%;
          button{
            @include mixins.large{
              margin: 0 0.2rem;
            }
            
          }
          .addTaskButton{
            background: var(--main);   
            cursor: pointer;
            color:var(--font-light);
            &:hover{
              background: var(--main-darker);
            }
          }
          .quitButton{
              @include mixins.large{
                background: rgba(0,0,0,0.1);
                color: var(--font-dark);
                &:hover{
                  background-color: var(--closeButton);
                  color: var(--font-light);
                }
              }
              background-color: var(--closeButton);
              color:  var(--font-light);
           
          }
        }
      }
    }
}