.container{
    background-color : var(--todolist);
    width : 250px;
    height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    transition: all 0.2s;
    margin: 1rem;
    &:hover{
      transform: scale(1.05);
      transition: all 0.2s;
    }
    .header{
        display: inline-flex;
        color: var(--primary);
        align-items: center;
        font-weight: 600;
        justify-content: space-between;
        padding: 0.5rem ;
        }

    ul{
        list-style-type: none;
        padding: 0;
    }
    .todoList{
        overflow-y: auto;
      scrollbar-color: var(--post-it-header) var(--third);
      scrollbar-width: thin;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
    .modifyList{
      text-align: center;
      justify-self: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      height: 100%;
      width:100%;
      cursor: pointer;
      &:hover{
        background-color: rgba($color: #000000, $alpha: 0.4);
        z-index: 999;
        span{
          display: block;
        }
      }
      span{
        margin-top: 4rem;
        font-size: 3rem;
        color: var(--font-light);
        display: none;
      }
    }
}