@use '../../utils/mixins';

 .btn{
  @include mixins.large{
    font-size: 1rem;
    width: 30px;
    margin: 0;
    padding: 0.8rem  0.2rem;
    background: none;
    
      &:hover{
        background-color: none;
        color : red;
      }
    }
    width: 65px;
    margin: 0 ; 
    background-color: var(--closeButton);
    color: white;  
    &:hover{
      cursor: pointer;
    }
}
.btnDark{
  color: var(--font-dark);
}
.btnLight{
  color: var(--font-light);
}