@use '../../utils/mixins';

 .btn{
  @include mixins.large{
    font-size: 1rem;
    width: 30px;
    margin: 0;
    color: var(--font-dark);
    padding: 0.8rem  0.2rem;
    background: none;
      &:hover{
        background-color: none;
        color : red;
      }
    }
    color: var(--font-light);
    width: auto;
    padding: 0.4rem 0.7rem;
    margin: 0 ; 
    background-color: var(--closeButton);
    &:hover{
      cursor: pointer;
    }
}

.btnLight{
  color: var(--font-light);
}