@use '../../utils/mixins';

 .btnSave{
  @include mixins.large{
    font-size: 1rem;
    width: 50px;
    padding: 0.8rem  0.2rem;
    background: none;
    color: var(--font-dark);
      &:hover{
        background-color: none;
        cursor: pointer;
        color : red;
      }
    }
    width: 65px;
    margin: 0 ; 
    background-color: var(--closeButton);
    color: white;  
}