.todoTask{
    list-style: none;
    background-color: var(--todoTask);
    border-radius: 2px;
    padding:0.3rem;
    margin: 0.3rem 0.2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &:hover{
      background-color: var(--todoTaskHover);
    }
    .checkTodo{
        accent-color: #ffe659 ;
        width: 1.3rem;
        height: 1.3rem;
        cursor: pointer;
        vertical-align: middle;
      }
      
}
    