@use '../../utils/mixins.scss';

.todoTask{
    @include mixins.large{

      flex-flow: row nowrap;
      width: 90%;
      &:hover{
        background-color: var(--todoTaskHover);    
      }
    }
    button{
      margin :0 0.5rem
    }
    list-style: none;
    background-color: var(--todoTask);
    border-radius: 2px;
    padding:0.3rem;
    
    margin: 0.3rem 0;
    display: flex;
    width: 100%;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
    
    .checkTodo{
        @include mixins.large{
          width: 1.3rem;
          height: 1.3rem;
        }
        accent-color: var(--checkTask);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        vertical-align: middle;
      }
    .crossedOut{
      text-decoration: line-through;
    }
    .normal{
      text-decoration: none;
      word-wrap:break-word;
    }
    .buttons{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
    }
}
    