:root {
/* Global */
--main : #244aed;
--light :#f5f6fa ;
--dark : #282828;
--grey :#282828;

/* TodoList*/
--todolist: #fae884;
--todolist-header  : #ffe659;

/*Font*/
--font-light : #CCCCCC;
--font-dark : #3c3c3c;
--font-family : 'Poppins', sans-serif;
}
